* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container>*{
    box-shadow: -1px 1px 7px 0px  rgba(0, 128, 0, 0.815);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template: 
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}
html{
    height: 100%;
}

body{
    font-family: sans-serif;
    font-size: 1.2 rem;
    min-height: 100%;
}

.header{
    grid-area: header;
    background-color: cyan;
}
.navbar{
    grid-area: navbar;
    background-color: gold;
}
.aside{
    grid-area: sidebar;
    background-color: fuchsia;
}

.main{
    grid-area: main ;
    background-color: greenyellow;
}
.footer{
    grid-area: footer;
    background-color: honeydew;
}
@media (min-width: 600px){
    .grid-container{
        grid-template: 
           "header  header" 100px
           "navbar  navbar"  50px
           "sidebar  main"   auto
           "footer  footer"  100px / 
            200px   auto;
        ;
       
    
    }
}
@media (min-width: 900px){
    .grid-container{
        grid-template:
           "header  header  header" 100px
           "navbar  main    sidebar" 
           "sidebar main"   auto
           "footer  footer  " 100px /
           200px    auto;
         ;
    }
}



